# Example Delphi configuration file

# Listen address configuration
[listen]
addr = "127.0.0.1"
port = 3822
protocol = "http"

# HTTPS client configuration
# [https]
# proxy = "https://webproxy.example.com:8080" # send outgoing requests through proxy

# Network configuration: blockchains for which oracle service is provided
[network.terra]
chain_id = "columbus-4"
feeder = "terra1..."
validator = "terravaloper1..."
fee = { denom = "Ukrw", amount = "356100", gas = "200000" }

# Source configuration: exchanges where price information is gathered from
[source.alphavantage]
# Get API key here (quick-and-simple form): https://www.alphavantage.co/support/#api-key
apikey = "api key goes here"

# Source configuration: exchanges where price information is gathered from
[source.currencylayer]
# Get API key here (quick-and-simple form): https://currencylayer.com/product
access_key = "access key goes here"
